@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
*{
    margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Sen', sans-serif;
 
}
body{
     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
     background:  linear-gradient(160deg, #CEF2E8, #5BA698);
 
}
.holderBox{
    height: 800px;
    width: 700px;
    background: #f2f2f2;
    padding: 30px 35px;
    border-radius: 15px;
}
.holderBox .title{
    font-size: 40px;
    font-weight: 500;
    position: relative;
    text-align: center;
    color: #594F4F;
}
.components .userInformation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 18px 0;
}

.userInformation .inputBox{
    margin-bottom:20px;
    width: calc(100%/2-20px);
}
.inputBox span.information{
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    color:#594F4F;
}
.userInformation .inputBox input{
    height: 50px;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 20px;
    border-bottom-width: 1px;
    transition: all 0.3s ease;
}
.accountDetails .accountTitle{
    font-size: 20px;
    font-weight: 500;
    color: #594F4F;
    margin-left: 250px;
}
.category{
    display: inline-block;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;    
}
.category label{
    display: flex;
    margin: 20px 150px 20px;
    justify-content: space-between;
    cursor: pointer;
    color: #594F4F;
    margin-right: 140px;
}
.category label .butt{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 50px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#butt1:checked ~ .category label .butt,
#butt2:checked ~ .category label .two,
#butt3:checked ~ .category label .button3{
    background: #5BA698;
}
input[type="radio"]{
    display: none;
}
.button {
    height: 45px;
}
.button input{
    display: inline-block;
    height: 100%;
    width: 200px;
    background-color: #594F4F;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: #f2f2f2;
    margin: 20px 50px 15px;
    border: none;
    border-radius: 10px;
}

@media (max-width: 584px){
    .holderBox{
        max-width: 100%;
    }
}

.components{
    width: 100%;
}
.components .userInformation{
    max-height: 900px;
    overflow-y: visible;
}
